html {
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}

body {
    background-image: url("https://source.unsplash.com/-1_RZL8BGBM");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

h2 {
  padding-left: 10px
}

.input-group {
  padding-left: 10px;
  width: 300px;
  margin-bottom: 20px; 
}

.lists {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Buttons & event listeners*/

.done {
  text-decoration: line-through #FFFF00;
}

button {
  padding: 5px;
  border-radius: 5px;
}

.deleteButton{
  background-color: #9608E4;
  color: #fff;
  border-radius: 30px
  margin: 20px;
}

.deleteButton:hover {
  background-color: #F0007F;
}

li:hover {
  color: #3E11E5;
}

/*Bottom section*/

.social-media {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  padding: 1rem;
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

